<section class="container ">
  <h1 class="text-success">Success -ja Warning message</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut laborum dolore minima voluptas ducimus natus fugit
    excepturi pariatur exercitationem rerum incidunt illo ipsum cum laboriosam soluta fuga, tenetur obcaecati facilis
    delectus reiciendis tempora. Ullam recusandae rerum voluptates consequuntur quaerat repellat nemo, laboriosam
    aliquam dignissimos beatae modi accusantium sed architecto molestiae explicabo quod magnam enim iste ut amet! Neque
    ut reprehenderit consequatur deserunt asperiores sint ipsum obcaecati omnis aspernatur id nostrum saepe perferendis,
    enim error earum ea iste aliquam quod, dolorem nobis. Repudiandae provident at praesentium veniam recusandae.
    Exercitationem, esse deserunt ut suscipit quaerat minus nihil laboriosam, quis non facere odit.</p>

    <hr/>
  <div class="d-flex">
    <app-msg-success></app-msg-success>
    <app-msg-warning></app-msg-warning>
  </div>

</section>